body {
    background-color: #ececec;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    margin: 25px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 475px;
   
    background-color: white;
    border-radius: 5px;
    box-shadow: darkgray 2px 2xp 4px;
    margin: 0 auto 20px;
    padding: 25px;
}

button {
    background-color: rgb(202, 105, 105);
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: inherit;
    
}

.sMedia {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    padding: 30px;
}

.links {
    color: lightgrey;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.icons {
    color: inherit; 
}
/*
div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
*/

div {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 20px;
}

.imgMovie {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 80px;
    height: auto;
    display: block;
    margin: auto;
}

.titleMovie {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    text-align: center;
    margin: 0;
}

.txtMovie {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 20px;
}

h1 {
    text-align: center;
    color: rgb(202, 105, 105);
    font-weight: 900;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 18px;
}

p { 
    text-align: justify;
    font-size: 15px;
    line-height: 1.6;
}

.sTxt {
    font-size: 18px;
    text-decoration: none;
    color: inherit;
}

.imgMain {
    width: 110px;
    height: 110px;
    border: lightgrey 3px solid;
    border-radius: 50%;
    margin-bottom: 20px;

}
